GestionLivreBase/war/WebServiceGestionLivreService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service.livre.gestion.com/" xmlns:tns="http://service.livre.gestion.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="createAuteur" type="tns:createAuteur"/>

  <xs:element name="createAuteurResponse" type="tns:createAuteurResponse"/>

  <xs:complexType name="createAuteur">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAuteurResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

